<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <div class="container-fluid">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">
              <img src="https://campus.cjavaperu.com/pluginfile.php/1/theme_mb2nl/logodark/1643121661/logo-cjava.png" alt="Avatar Logo" style="width:40px;" class="rounded-pill"> 
            </a>
          </div>
          <h2 style="color: aliceblue;">Escuela CJava</h2>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
        <span class="navbar-toggler-icon"></span>
      </button>
      
      <div class="collapse navbar-collapse" id="mynavbar">
        <ul class="navbar-nav me-auto">
          <li class="nav-item">
            <a class="nav-link" href="/home">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/gestion/alumnos">Alumnos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/gestion/cursos">Cursos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/matricula/matricula-form">Matriculas</a>
          </li>
        </ul>
        
      </div>
    </div>
  </nav>